/*
   
   
   Style Sheet for the I'd Rather Be in France 
   Home Page and Exploring France Pages
   Author: Thomas Studer
   Student ID# 4316851
   WEB110-N801: Project Part 1
   Date:   3/18/24
   
   Filename: fr_layout.css
*/

/* Page Body Styles */
	body {
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
	overflow: auto;														/*Handle Overflow*/
	}

/* Image Styles */
	img {
    display: block;
    width: 100%;
	}

/* Horizontal Navigation Styles */
	.horizontal li {													/*Format lists*/
    display: block;														
    float: left;														/*Use floated elements*/
    width: 20.00%; 
	}
	nav li a {
    display: block;
	}


/* Grid Styles */
	body {
    display: grid;
    grid-template-columns: 1fr;
	}
			
	header, footer {
    grid-column: 1 / -1;
	}
	
	#sub {
    display: grid;														/*Create a grid layout*/
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto ; 
	grid-column-gap: 20px; 
	grid-row-gap: 20px; 
	margin-bottom: 20px; 
	}
	
	
	

/* Specials Styles */
	div.specials {
    min-height: 400px;
    outline: 3px solid rgb(157, 223, 245); 
	
	}

/*============================================================*/
/*Mobile Styles: 0px to 480px*/											/* Responsive design changes for small screen devices */	
/*============================================================*/
@media only screen and (max-width: 480px){
/* Adjustments for small screens */
  body {
    width: 90%; /* Adjust the width for smaller screens */
    min-width: initial; /* Reset min-width */
    max-width: initial; /* Reset max-width */
    margin-left: auto;
    margin-right: auto;
  }

  /* Adjustments for horizontal navigation */
  .horizontal li {
    width: 100%; /* Full width for smaller screens */
  }

  /* Adjustments for grid */
  #sub {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }

  
}

/*============================================================*/
/*Mobile Styles: 481px and greater*/
/*============================================================*/
@media only screen and (min-width: 481px){
	
}
/*============================================================*/
/*Mobile Styles: 0px to 480px*/
/*============================================================*/
@media only screen and (min-width: 769px){
	
}