@charset "utf-8";

/*
	Reset Style Sheet for the I'd Rather Be in France Website
	Used for all pages
	Author: Thomas Studer
	Student ID# 4316851
	WEB110-N801: Project Part 1
	Date:   3/18/24
   
   Filename: pc_reset2.css

*/

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

body {
   line-height: 1;
}

ul, ol {
   list-style: none;
}